body {
    background: #f6f6f6;
}
.container-input {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 20px;
}
.wrapper-from {
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 25px;
    border-radius: 4px;
    box-shadow: 0 0 9px 2px #00000012;
}
.title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.already-account {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 40px;
    background: #ddd;
}
.welcome {
    text-align: center;
    margin: 10px auto;
    max-width: 800px;
    padding: 20px;

}
.subheading {
    font-size: 30px;
}
.note-wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background: #fff;
}
.flex {
    display: flex;
    gap: 10px;
}
.col-6 {
    max-width: 50%;
    flex: 50%;
}
.container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}
.note-form {
    transition: none;
    display: flex;
    flex-direction: column;
}
.actions-icon {
    display: flex;
    gap: 20px;
}
.actions-icon svg {
    cursor: pointer;
}
.w-50 {
    max-width: 50%;
    width: 50%;
    flex: 50%;
}
.w-100 {
    max-width: 100%;
    width: 100%;
    flex: 100%;
}